{% extends "base.html" %}

{% block content %}

<body>
  <div class="splash">
      <div class="pure-g-r">
          <div class="pure-u-1">
              <div class="l-box splash-text">
                  <h1 class="splash-head">
                      Contato
                  </h1>
                  <h2 class="splash-subhead">
                      email:jjosinoms@gmail.com

                  </h2>
                  <p>
                      <a href="#" class="pure-button primary-button">Saiba mais</a>
                  </p>
              </div>
          </div>
      </div>
  </div>

{% endblock %}
</div>
<script src="http://yui.yahooapis.com/3.12.0/build/yui/yui-min.js"></script>
</body>


</html>
